//container text styling
#classy-container {
    h1 {
        font-family: montez, "trebuchet ms";
    }
    h2 {
        font-family: "andale mono", helvetica;
    }
    h3 {
        font-family: "andale mono", helvetica;
    }
    h4 {
        font-family: "andale mono", helvetica;
    }
}

